@import "../sass/utils/variables.scss";
@import "../sass/composants/autocomplete.scss";
@import "../sass/composants/select.scss";
@import "../sass/composants/resultatrecherche.scss";
@import "../sass/composants/tag.scss";





header{
text-align:center;
}

main{
 width: 90%;
 margin: auto;
}

.recherche input{
    width: 100%;
    height: 70px;
    border-radius:5px;
    background-color: rgb(217, 217, 217);
    border: none;
    font-size: xx-large;
}

.keyword{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 20px;
    position: absolute;
    
}


.result-message{
    margin: 20px 0px;
    height: 70px;
    display: flex;
    vertical-align: middle;
    border-radius:5px;
    font-size: large;
}

.zone-nombre{
    margin: auto 20px;
}

.init{
    background-color: #d04f4f6b;
    color: $colorlogo;
}

.erreur{
    background-color: $colorlogo;
    color: white;
}

.reponse{
    background-color: $colorgris;
    color: black;
}

.close-result{
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 5px;
    margin-left: 15px;
    background: url(/data/image/icons8-close.svg) center center/ 50px no-repeat;
}
