.filter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 80px;
}

.bleu {
  background-color: #3282F7;
}

.vert {
  background-color: #68D9A4;
}

.orange {
  background-color: #ED6454;
}

.ingredient {
  background-color: #3282F7;
  border-radius: 5px;
  height: 60px;
  color: white;
  font-size: large;
  max-width: 600px;
  position: static;
  z-index: 10;
}

.inginputdiv {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ingopen {
  display: flex;
  flex-direction: row;
}

.ingbtn {
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  width: 200px;
}

#filterInputIng {
  display: none;
  border: none;
  height: 60px;
  width: calc(100% - 50px);
  background-color: #3282F7;
  border-radius: 5px 5px 0 0;
}
#filterInputIng::placeholder {
  color: rgb(188, 188, 188);
  padding-left: 40px;
  font-size: large;
}

.arrowingopen {
  width: 50px;
  display: block;
  cursor: pointer;
  padding-top: 5px;
}

.arrowingclose {
  width: 50px;
  display: none;
  cursor: pointer;
  transform: rotate(180deg);
}

.ingredient ul {
  display: none;
  flex-wrap: wrap;
  max-height: 250px;
  padding-left: 20px;
  background-color: #3282F7;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0 0 5px 5px;
}

.listeingredient {
  flex: 1 0 calc(30% - 10px);
  margin: 5px;
  width: auto;
  list-style: none;
}
.listeingredient:hover {
  color: rgb(200, 200, 200);
}

.appareils {
  background-color: #68D9A4;
  border-radius: 5px;
  height: 60px;
  color: white;
  font-size: large;
  max-width: 600px;
  position: static;
  z-index: 10;
}

.appinputdiv {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.appopen {
  display: flex;
  flex-direction: row;
}

.appbtn {
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  width: 200px;
}

#filterInputApp {
  display: none;
  border: none;
  height: 60px;
  width: calc(100% - 50px);
  background-color: #68D9A4;
  border-radius: 5px 5px 0 0;
}
#filterInputApp::placeholder {
  color: rgb(150, 150, 150);
  padding-left: 40px;
  font-size: large;
}

.arrowappopen {
  width: 50px;
  display: block;
  cursor: pointer;
  padding-top: 5px;
}

.arrowappclose {
  width: 50px;
  display: none;
  cursor: pointer;
  transform: rotate(180deg);
}

.appareils ul {
  display: none;
  flex-wrap: wrap;
  max-height: 250px;
  padding-left: 20px;
  background-color: #68D9A4;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0 0 5px 5px;
}

.listeappareil {
  flex: 1 0 calc(30% - 10px);
  margin: 5px;
  width: auto;
  list-style: none;
}
.listeappareil:hover {
  color: rgb(150, 150, 150);
}

.ustensiles {
  background-color: #ED6454;
  border-radius: 5px;
  height: 60px;
  color: white;
  font-size: large;
  max-width: 600px;
  position: static;
  z-index: 10;
}

.ustinputdiv {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ustopen {
  display: flex;
  flex-direction: row;
}

.ustbtn {
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  width: 200px;
}

#filterInputUst {
  display: none;
  border: none;
  height: 60px;
  width: calc(100% - 50px);
  background-color: #ED6454;
  border-radius: 5px 5px 0 0;
}
#filterInputUst::placeholder {
  color: rgb(188, 188, 188);
  padding-left: 40px;
  font-size: large;
}

.arrowustopen {
  width: 50px;
  display: block;
  cursor: pointer;
  padding-top: 5px;
}

.arrowustclose {
  width: 50px;
  display: none;
  cursor: pointer;
  transform: rotate(180deg);
}

.ustensiles ul {
  display: none;
  flex-wrap: wrap;
  max-height: 250px;
  padding-left: 20px;
  background-color: #ED6454;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0 0 5px 5px;
}

.listeust {
  flex: 1 0 calc(30% - 10px);
  margin: 5px;
  width: auto;
  list-style: none;
}
.listeust:hover {
  color: rgb(200, 200, 200);
}

.result {
  width: 100%;
  margin-top: 40px;
}

#affichagerecette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.resultatrecherche {
  color: black;
  width: 30%;
  background-color: #C7BEBE;
  border-radius: 5px;
  border: none;
  margin-top: 40px;
  position: relative;
}

.imgrecette {
  height: 178px;
}

.divzonerecette {
  background-color: #E7E7E7;
  border-radius: 0 0 5px 5px;
  height: 150px;
  padding: 20px;
}

.titrerecette {
  font-size: large;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  white-space: nowrap;
}

.zonetitretimer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.zoneingdes {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.zoneingdes span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.zoneingdes p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 200px;
}

.descriptionrecette {
  font-size: 14px;
  width: 45%;
  height: 102px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.pictohorloge {
  height: 20px;
}

.timerecette {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 125px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

:root {
  --purple: #e41b6f;
  --off-white: #f8f8f8;
  --off-black: #444444;
  --shadow: 0 0 30px #cccccc;
  --xs: 0.2rem;
  --sm: 0.5rem;
  --md: 0.8rem;
  --lg: 1rem;
  --xlg: 1.5rem;
  --xxlg: 2rem;
  --transition: 0.3s linear all;
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin-right: 10px;
  padding: 10px 20px;
}

.remove-tag {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  margin-left: 15px;
  background: url(/data/image/icons8-close.svg) center center/20px no-repeat;
}

* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

main {
  width: 90%;
  margin: auto;
}

.recherche input {
  width: 100%;
  height: 70px;
  border-radius: 5px;
  background-color: rgb(217, 217, 217);
  border: none;
  font-size: xx-large;
}

.keyword {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 20px;
  position: absolute;
}

.result-message {
  margin: 20px 0px;
  height: 70px;
  display: flex;
  vertical-align: middle;
  border-radius: 5px;
  font-size: large;
}

.zone-nombre {
  margin: auto 20px;
}

.init {
  background-color: rgba(208, 79, 79, 0.4196078431);
  color: #D04F4F;
}

.erreur {
  background-color: #D04F4F;
  color: white;
}

.reponse {
  background-color: #E7E7E7;
  color: black;
}

.close-result {
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 5px;
  margin-left: 15px;
  background: url(/data/image/icons8-close.svg) center center/50px no-repeat;
}

/*# sourceMappingURL=style.css.map */
