
@import "../utils/variables";

.filter{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 80px;
}



.bleu{
    background-color: $colorblue;
}
.vert{
    background-color: $colorgreen;
}
.orange{
    background-color: $colororange;
}

// Gestion liste tag Input Ingredient

.ingredient{
    background-color: $colorblue;
    border-radius: 5px;
    height: 60px;
    color: white;
    font-size: large;
    max-width: 600px;
    position: static;
    z-index: 10;
}

.inginputdiv{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ingopen{
    display: flex;
    flex-direction: row;
}
.ingbtn{
    display: block;
    padding-left: 20px;
    padding-top: 20px;
    width: 200px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#filterInputIng{
    display: none;
    border: none;
    height: 60px;
    width: calc(100% - 50px);
    background-color: $colorblue;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: x-large;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-left: 20px;
    &::placeholder{
        color: rgb(188, 188, 188);
        font-size: large;
}
}

.arrowingopen{
    width: 50px;
    display: block;
    cursor: pointer;
    padding-top: 5px;
}

.arrowingclose{
    width: 50px;
    display: none;
    cursor: pointer;
    transform: rotate(180deg);
}

.ingredient ul{
    display: none;
    flex-wrap: wrap;
    max-height: 250px;
    padding-left: 20px;
    background-color: $colorblue;
    width: auto;
    overflow-y:scroll;
    overflow-x:hidden;
    border-radius: 0 0 5px 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}

.listeingredient{
    flex: 1 0 calc(30% - 10px);
    margin: 5px;
    width: auto;
    list-style: none;
    &:hover{
        color: rgb(200, 200, 200);
    }
    
}

// Gestion liste tag Input Appareils

.appareils{
    background-color: $colorgreen;
    border-radius: 5px;
    height: 60px;
    color: white;
    font-size: large;
    max-width: 600px;
    position: static;
    z-index: 10;
}

.appinputdiv{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.appopen{
    display: flex;
    flex-direction: row;
}
.appbtn{
    display: block;
    padding-left: 20px;
    padding-top: 20px;
    width: 200px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#filterInputApp{
    display: none;
    border: none;
    height: 60px;
    width: calc(100% - 50px);
    background-color: $colorgreen;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: x-large;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-left: 20px;
    &::placeholder{
        color: rgb(150, 150, 150);
        font-size: large;
}
}

.arrowappopen{
    width: 50px;
    display: block;
    cursor: pointer;
    padding-top: 5px;
}

.arrowappclose{
    width: 50px;
    display: none;
    cursor: pointer;
    transform: rotate(180deg);
}

.appareils ul{
    display: none;
    flex-wrap: wrap;
    max-height: 250px;
    padding-left: 20px;
    background-color: $colorgreen;
    width: auto;
    overflow-y:scroll;
    overflow-x:hidden;
    border-radius: 0 0 5px 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.listeappareil{
    flex: 1 0 calc(30% - 10px);
    margin: 5px;
    width: auto;
    list-style: none;
    &:hover{
        color: rgb(150, 150, 150);
    }
}


// Gestion liste tag Input Ustensiles

.ustensiles{
    background-color: $colororange;
    border-radius: 5px;
    height: 60px;
    color: white;
    font-size: large;
    max-width: 600px;
    position: static;
    z-index: 10;
}

.ustinputdiv{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ustopen{
    display: flex;
    flex-direction: row;
}
.ustbtn{
    display: block;
    padding-left: 20px;
    padding-top: 20px;
    width: 200px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#filterInputUst{
    display: none;
    border: none;
    height: 60px;
    width: calc(100% - 50px);
    background-color: $colororange;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: x-large;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-left: 20px;
    &::placeholder{
        color: rgb(188, 188, 188);
        font-size: large;
}
}

.arrowustopen{
    width: 50px;
    display: block;
    cursor: pointer;
    padding-top: 5px;
}

.arrowustclose{
    width: 50px;
    display: none;
    cursor: pointer;
    transform: rotate(180deg);
}

.ustensiles ul{
    display: none;
    flex-wrap: wrap;
    max-height: 250px;
    padding-left: 20px;
    background-color: $colororange;
    width: auto;
    overflow-y:scroll;
    overflow-x:hidden;
    border-radius: 0 0 5px 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.listeust{
    flex: 1 0 calc(30% - 10px);
    margin: 5px;
    width: auto;
    list-style: none;
    &:hover{
        color: rgb(200, 200, 200);
    }
}